

<h2> sample</h2>
<app-loader [isLoading]="loading"></app-loader>

  <div class="container text-center mt-4">
  <div class="mt-5">
    <select #langSelect (change)="switchLang(langSelect.value)" class="form-select w-auto d-inline-block">
      <option value="en">English</option>
      <option value="mr" selected>मराठी</option> <!-- ✅ Default Marathi -->
    </select>
  </div>
</div>
<app-navbar></app-navbar>
 <app-header></app-header>
<router-outlet></router-outlet>
<app-whatsapp-float></app-whatsapp-float>
<app-footer></app-footer>
